{% extends 'core/base.html' %}

{% block content %}
<h3>Cursos Creados</h3>
<div style="display: flex; flex-wrap: wrap; margin-bottom: 10px;">
    {% for course in courses %}
    <div style="margin-right: 20px; margin-bottom: 10px;">
        <p><strong>{{ course.course_name }}</strong></p>
        <p><strong>ID del Curso:</strong> {{ course.course_id }}</p>
        <a href="{% url 'show_course' course.course_id %}" style="
            display: inline-block;
            text-decoration: none;
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border-radius: 4px;
            text-align: center;">
            Entrar
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}