{% extends 'core/base.html' %}

{% block content %}
    <h3>Clases Programadas</h3>
    <div style="display: flex; flex-wrap: wrap; margin-bottom: 10px;">
        {% for course in course1 %}
            <div style="margin-right: 20px; margin-bottom: 10px;">
                <strong>Aula:</strong>
                <form action="{% url 'course_sessions' course.course_id %}" method="get">
                    {% csrf_token %}
                    <button type="submit">Entrar a {{ course.course_name }}</button>
                </form>
                <br>
            </div>
        {% endfor %}
    </div>
{% endblock %}
